.section{
  padding-top: 40px;
  padding-bottom: 40px;

}
.firstSection{
  width: 1050px;
  height: 590px;
}
.sectionTitle{
  display: flex;
  position: relative;
  justify-content: center;
  height: 48px;
  margin-bottom: 27px;
  color: rgb(51, 51, 51);
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: -0.26px;
  font-weight: 600;
  text-align: center;
}
.content1{
  display: flex;
  position: relative;
  width: 1050px;
  overflow: hidden;
  /* transform: translate(-100px); */
}
.innerCard{
  justify-content: flex-start;
  min-width: 249px;
  width: 249px;
  float: left;
}
/* .innerCard img{
  width: 100%;
} */
.secondSection{
  width: 1050px;
  height: 590px;
}
.contentBu{
  display: flex;
  position: relative;
  width: 1050px;
  height: 180px;
  overflow: hidden;
  font-size: 14px;
  /* transform: translate(-100px); */
}
.sectionButtonArea{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  place-content: center;
  width: 1050px;
  height: 180px;
  font-size: 14px;
}
.sectionButtonArea li {
  height: 60px;
  padding: 0 5px 20px 5px;

}
.sectionBu {
  height: 40px;

}
.btn-primary{
  border-radius: 20px;
  background: #9E007F;
  border-color: #9E007F;
}