.register_P{
    padding-top: 30px;
    padding-left: 17px;
}

.separation{
    padding-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.note{
    font-size: 12px;
}

.register_P .btn-primary{
    background-color: #9E007F;
    color: #f2f2f2;
    opacity: 0.8;
    border-radius: 6px;
}
