.register_P{
    padding-top: 25px;
    padding-left: 17px;
}

.separation{
    padding-top: 15px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.form-control{
    width: 300px !important; 
    height: 35px !important; 
    font-size: 14px !important;
}

.form-select{
    width: 300px !important; 
    height: 35px !important; 
    font-size: 14px !important;
}

.note{
    font-size: 12px;
}

.register_P .btn-primary{
    background-color: #9E007F;
    color: #f2f2f2;
    opacity: 0.8;
    border-radius: 6px;
}
